
h2{
    color: rgb(8, 65, 8);
  }

  .primates {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }

  .primates-container {
    margin: 1rem 3rem 0rem 3rem;
  }

  .primates-container > h2 {
    margin-top: 0;
  }

  .primate {
    background-color:white;
    border: 1px solid ;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  /* .primate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
  }

  .primates > * {
    flex-basis: 31%;
    margin: 0.5rem;
  }

  section.primate {
    margin: 3rem;
  } */
  /* This targets all the child elements of the element with the .ticket class */
  .primate > * {
    padding: 0.5rem;
  }


  .primate-info {
    color: var(--outline);
    font-family: "Roboto", sans-serif;
  }

  /* This targets any footer element that is a child of an element with the .ticket class */
  .primate > footer {
    display: flex;
    border-top: 1px solid var(--outline);
    align-items: center;
    justify-content: space-between;
  }

  /* This targets any element that is a child of a footer that is a child of an element with the .ticket class */
  .primate > footer > * {
    flex-basis: 22%;
  }

  .primate-click {
    color: black;
    font-weight: normal; /* Adjust the font weight as needed */
    text-decoration: none; /* Remove underlining or any decoration */
  }
  .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
  }
  .text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
  }

  /* section.customer {
    margin: 3rem;
  }
  
  .customer {
    background-color: var(--white);
    border: 1px solid var(--outline);
    border-radius: 0.5rem;
    padding: 1rem;
  }
  
  .customer-info {
    color: var(--info);
    font-family: "Roboto", sans-serif;
  }
  
  .customer-header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
    color: var(--primary);
  } */