.proposals {
    display: flex;
    flex-direction: column;
  }

  .proposals-container {
    margin: 1rem 5rem 0rem 5rem;
  }

  .proposals-container > h2 {
    margin-top: 0;
  }

  .proposal {
    background-color: white;
    border: 1px solid ;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  /* This targets all the child elements of the element with the .ticket class */
  .proposal > * {
    padding: 0.5rem;
  }


  .proposal-info {
    color: var(--outline);
    font-family: "Roboto", sans-serif;
  }

  /* This targets any footer element that is a child of an element with the .ticket class */
  .proposal > footer {
    display: flex;
    border-top: 1px solid var(--outline);
    align-items: center;
    justify-content: space-between;
  }

  /* This targets any element that is a child of a footer that is a child of an element with the .ticket class */
  .proposal > footer > * {
    flex-basis: 22%;
  }