/* 
form {
    margin: 1rem 3rem;
    border: 1px solid rgb(224, 24, 158);
    border-radius: 10px;
    padding: 1rem 0rem 0rem 1rem;
    box-shadow: 1px 2px 5px lightgray;
    /* background-color: rgb(136, 199, 136); */
  /* } */
  
  /* fieldset {
    min-width: 0;
    padding-bottom: 1.5rem;
    margin: 0;
    border: 0;
  }
  
  .form-control {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--outline);
    border-radius: 0.25rem;
  }
  
  .form-group {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .form-btn {
    align-self: flex-end;
  }
  
  .form-btn:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }  */ */
  .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
  }

 /* input[type=checkbox] {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
  }  */